<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-12">
        <ul class="row list-unstyled">

          <div class="absolute howTo">
            <h2>Shrines!</h2>
            <span>Below are the possible shrines that are available for use throughout your run.</span>
            <!-- <table class = "table table-striped table-bordered">

              <tr>
                <td>Shrine Name</td>
                <td>The first line is the item name.</td>
              </tr>
              <tr>
                <td>Shrine Description</td>
                <td>This will be the items description including how they stack when you have multiple items in the same run.</td>
              </tr>
              <tr>
                <td>Stack Type</td>
                <td>Some items have different stack types and I feel it is important to note that. A linear stacktype is exactly how it sounds, if the item is +5%, then thats what it adds. A hyperbolic stack type slowely gets less effective the more you stack.</td>
              </tr>
            </table> -->

          </div>
          <div id="items" class="col-12">
          <% for(let i=0; i<shrines.length; i++) {%>
            <li>
              <br>
                  <h4>-<%=shrines[i].name%></h4>
                  <h6>-<%=shrines[i].description%></h6>
                  <h6>-<%=shrines[i].lore%></h6>
              </br>
            </li>

          <% } %>
          </ul>
          <div>
            <h2>Shrine of Chance Simulator</h2>
                <a href="" id="shrineOfChance">Spend Gold Here</button>
          </div>
          <div id="itemWon">
            <% for(let i=0; i<items.length; i++) {%>
              <li>
                <br>
                    <h4><%=items[i].name%></h4>
                </br>
              </li>
  
            <% } %>
          </div>
      </div>
      <div>

      
      </div>
      <div class="col-12">
      <button id="myBtn" title="Go to top">Top</button>
      </div>

      </div>  
    </div>
  </div>
</div>
</div>
<%- include('partials/footer') -%>