<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
        <ul class="row list-unstyled">


          <div class="absolute">
            <h2>List of Survivors</h2>
            <span>Here are all of the survivor stats!</span>

          </div>

       
            <% for(let i=0; i<survivors.length; i++) {%>
              <li>
                <br>
                    <h4><img src='<%=survivors[i].survivorImage%>'></h4>
                    <h4><%=survivors[i].survivorName%></h4>
                    <h6>Health:   <%=survivors[i].health%></h6>
                    <h6>Health Regeneration:   <%=survivors[i].healthRegen%></h6>
                    <h6>Damage:   <%=survivors[i].damage%></h6>
                    <h6>Speed:   <%=survivors[i].speed%></h6>
                    <h6>Armor:   <%=survivors[i].armor%></h6>
                    <h6>Type:   <%=survivors[i].type%></h6>
                </br>
              </li>
  
            <% } %>
            </ul>
            <!-- <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> -->

            

      </div>  
    </div>
  </div>
</div>
</div>
<%- include('partials/footer') -%>